* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(30, 2, 52); */
    background-image: linear-gradient(to right, rgb(75, 73, 79), rgb(39, 43, 58));
    color: white;
    padding: 10px 0;
}

.logo {
    font-size: 20px;
    font-weight: bolder;
    font-family: "Playwrite AU QLD", cursive;
}

nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(189, 184, 237);
    text-decoration: none;
    transition: all 0.5s;
}

.hero {
background-image: linear-gradient(to right, #141E30, #243B55);



  height: 85vh;
  display: flex;
  justify-content: center;
  gap: 130px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}


.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-left .one {
    font-size: 60px;
    color: rgb(242, 239, 246);
    font-weight: bolder;
}

.hero-left .two {
    font-size: 40px;
    color: white;
}

.bold {
    font-weight: bold;
}

.hero-right img {
    width: 100vw;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}


.button-container {
    padding: 9px 0;
}

.btn {
    background-color: rgb(17, 17, 18);
    color: white;
    padding: 7px 9px;
    margin: 0 2px;
    border: 2px solid rgb(14, 13, 14);
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bolder;
    transition: all 0.5s;

}

.btn:hover {
    background-color: rgb(59, 54, 200);
}

.project {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    border-top: 2px solid rgb(136 165 246 / 25%);
    padding: 22px 100px;
background-image: linear-gradient(to right, #1E1E2F, #1F3D33);

}

.project-image img {
    width: 29.5vw;
    margin: 35px;
    border-radius: 20px;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding: 42px;
}

.project-info .text {
    font-size: 27px;
    padding: 10px 0;
    font-weight: bold;
}

.project-info p {
    padding: 12px 0;
}

.row-reverse {
    flex-direction: row-reverse;
}

footer {
    background-color: rgb(19, 2, 44);
    padding: 20px;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 950px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .hero {
        flex-direction: column-reverse;
        gap: 12px;
    }

    .hero-left {
        align-items: center;
    }

    .project {
        padding: 1px;
    }
}

@media screen and (max-width: 650px) {
    .hero-left .one {
        font-size: 40px;
        text-align: center;
    }

    .hero-left .two {
        font-size: 30px;
        text-align: center;
    }

    .project {
        flex-direction: column;
    }

    .project-image img {
        width: 80vw;
        margin: 15px 35px;
    }

    .project-info{
        padding: 15px 23px;
    }

}

.project{
     padding-right: 200px ;
     padding: 50px;
     align-items: center;
     

}
footer{
    background-color: rgb(28, 23, 23);
}
.fed{
    background-color: rgb(189, 57, 57);
}
.github-activity{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
